<!DOCTYPE html>
    <html>

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" media="all" href="/assets/css/style.css" />
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,800" rel="stylesheet">
        <style>
            .modal {
                max-width: 700px;
            }
        </style>
    </head>

    <body>
        <main class="content">
            <h1 class="title new-item">{{ title }}</h1>

            <form id="{{ action }}">
                <div class="input-field">
                    <label for="category-name" class="label">Category Name</label>
                    <input type="text" name="category-name" class="input-text" value="{{ categoria.name|e }}" />

                </div>
                {% if categoria %}
                <div class="input-field">
                    <label for="category-code" class="label">Category Code</label>
                    <input type="text" name="category-code" class="input-text"  value="{{ categoria.id|e }}" readOnly />

                </div>
                {% endif %}
                <div class="actions-form">
                    <input class="btn-submit btn-action" type="submit" value="Save" />
                </div>
            </form>
        </main>
    </body>

    </html>