{% extends 'base.html' %}

{% block head %}
  {{ parent() }}
  <link rel="stylesheet" type="text/css" media="all" href="/assets/css/custom.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
{% endblock %}

{% block content %}
  <!-- Main Content -->
  
    <div class="header-list-page">
      <h1 class="title">Categories</h1>
      <a href="categoria/create" class="btn-action" rel="modal:open">Add new Category</a>
      
    </div>
    <table class="data-grid">
      <tr class="data-row">
        <th class="data-grid-th">
            <span class="data-grid-cell-content">Name</span>
        </th>
        <th class="data-grid-th">
            <span class="data-grid-cell-content">Code</span>
        </th>
        <th class="data-grid-th">
            <span class="data-grid-cell-content">Actions</span>
        </th>
      </tr>
      {% for categoria in categorias if categoria.name %}
      <tr class="data-row">
        <td class="data-grid-td">
           <span class="data-grid-cell-content">{{ categoria.name|e }}</span>
        </td>
        <td class="data-grid-td">
           <span class="data-grid-cell-content">{{ categoria.id|number_format }} </span>
        </td>
      
        <td class="data-grid-td">
          <div class="Actions">
            <div class="action edit"><span><a href={{ "categoria/update?id="~categoria.id|number_format }} rel="modal:open">Edit</a></span></div>
            <div class="action delete"><span><a href="#" data-id="{{ categoria.id|number_format }}">Delete</a></span></div>
          </div>
        </td>
      </tr>
        {% endfor %}

      
    </table>
    <div id="progress">
      <div class="bar" style="width: 0%;"></div>
    </div>

  <!-- Main Content -->
  <div class="Upload">
    <input id="fileupload" type="file" name="files" data-url="categoria/upload" >
  </div>

  {% endblock %}

  {% block footer %}
    {{ include("footer.html") }}
  {% endblock %}
  
  {% block modal %}
  <div id="ex1" class="modal">
    <p></p>
    <a href="#" rel="modal:close">Close</a>
  </div>
  {% endblock %}

  {% block bottom %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
  <script src="/assets/js/jquery-upload/jquery.ui.widget.js"></script>
  <script src="/assets/js/jquery-upload/jquery.iframe-transport.js"></script>
  <script src="/assets/js/jquery-upload/jquery.fileupload.js"></script>
  <script src="/assets/js/categoria.js"></script>
 {% endblock %}
 

 

