.bar {
    height: 18px;
    background: green;

}

.Upload {
    width: 32%;
    height: 50px;
    padding: 10px;
    /* text-align: center; */
    background-color: #ccc;
    display: table-cell;
    vertical-align: middle;
    

}
.butt_firebase {
    background-color: yellow; 
    height: 30px;
    display: inline-block;
    border-radius: 8px;
    
}
.Actions {
    width: 100%;
    display: flex;
    font-size: 14px;
}
.action {
    margin: 0 10px;
}

.action a:hover {
    color: red;
    cursor:pointer;
    
}
.action a {
    text-decoration: none;
    
}