{% extends 'base.html' %}

{% block head %}
  {{ parent() }}
  <link rel="stylesheet" type="text/css" media="all" href="/assets/css/custom.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
{% endblock %}

{% block content %}
  
{% endblock %}

{% block footer %}
  {{ include("footer.html") }}
{% endblock %}

{% block modal %}
<div id="ex1" class="modal">
  <p></p>
  <a href="#" rel="modal:close">Close</a>
</div>
{% endblock %}

{% block bottom %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
<script src="/assets/js/jquery-upload/jquery.ui.widget.js"></script>
<script src="/assets/js/jquery-upload/jquery.iframe-transport.js"></script>
<script src="/assets/js/jquery-upload/jquery.fileupload.js"></script>
<script src="https://www.gstatic.com/firebasejs/5.9.2/firebase.js"></script>
<script src="/assets/js/produtos.js"></script>
<script>
  // Initialize Firebase
  // TODO: Replace with your project's customized code snippet
  var config = {
    apiKey: "AIzaSyAGGi6TmIKJJ3V9KpSTmv712Ownc6wzoII",
    authDomain: "desafio-e5a04.firebaseapp.com",
    databaseURL: "https://desafio-e5a04.firebaseio.com",
    projectId: "desafio-e5a04",
    storageBucket: "desafio-e5a04.appspot.com",
    messagingSenderId: "912686141325"
  };
  firebase.initializeApp(config);

</script>

{% endblock %}
