{% extends 'base.html' %}

{% block head %}
  {{ parent() }}
  <link rel="stylesheet" type="text/css" media="all" href="/assets/css/custom.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
{% endblock %}

{% block content %}
    
  <div class="header-list-page">
  <h1 class="title">{{ title }}</h1>
  </div>
  <div class="infor">
  You have {{ produtos|length }} products added on this store: <a href="produto/create" class="btn-action" >Add new Product</a>
  </div>
  <ul class="product-list">
  {% for produto in produtos %}
  <li>
      <div class="product-image">
      <img src={{ produto.picture ? produto.picture 
        : "https://firebasestorage.googleapis.com/v0/b/desafio-e5a04.appspot.com/o/noimage.png?alt=media&token=ebfb899a-bee2-4eb3-96d5-d42b59735406" }} 
          layout="responsive" width="164" height="145" alt="no-image" />
      </div>
      <div class="product-info">
      <div class="product-name"><span>{{ produto.name|e   }}</span></div>
      <div class="product-price"><span class="special-price">{{ produto.quantity|number_format }}</span> <span>R${{ produto.price|number_format }}</span></div>
      <div class="Actions">
        <div class="action edit"><span><a href={{ "produto/update?id="~produto.id|number_format }} >Edit</a></span></div>
        <div class="action delete"><span><a href="#" data-id="{{ produto.id|number_format }}">Delete</a></span></div>
      </div>
  </li>
  {% endfor %}
  </ul>
  
  {% include 'produto/pagination.html.twig' with {
	currentPage: currentPage,
	paginationPath: "/produto/",
	showAlwaysFirstAndLast: true,
	lastPage: totalPages,
} %}
  
  
  
{% endblock %}

{% block footer %}
  {{ include("footer.html") }}
{% endblock %}

{% block modal %}
<div id="ex1" class="modal">
  <p></p>
  <a href="#" rel="modal:close">Close</a>
</div>
{% endblock %}

{% block bottom %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
<script src="/assets/js/jquery-upload/jquery.ui.widget.js"></script>
<script src="/assets/js/jquery-upload/jquery.iframe-transport.js"></script>
<script src="/assets/js/jquery-upload/jquery.fileupload.js"></script>
<script src="/assets/js/produtos.js"></script>
{% endblock %}