{% extends 'produto/_produto.html' %}

{% block content %}
<h1 class="title new-item">{{title}}</h1>
  <img id="some-image" src="#" alt="Image Preview" height="100px"/>
  <div class="Upload">
    <input id="fileupload" type="file" name="files[]" />
    <button class="btn butt_firebase" >Upload Firebase</button>
  </div>
    
  <form id={{ action }}>
    <div class="input-field">
      <label for="image-address" class="label">Storage Link</label>
      <input type="text" name="picture" id="image-address" class="input-text" readOnly value="{{ produto.picture }}" /> 
    </div>
    <div class="input-field">
      <label for="sku" class="label">Product SKU</label>
      <input type="text" name="sku" class="input-text" value="{{ produto.sku }}"/>
      <input type="text" name="id" class="input-text" value="{{ produto.id }}" style="display:none" /> 
    </div>
    <div class="input-field">
      <label for="name" class="label">Product Name</label>
      <input type="text" name="name" class="input-text" value="{{ produto.name }}" /> 
    </div>
    <div class="input-field">
      <label for="price" class="label">Price</label>
      <input type="text" name="price" class="input-text" value="{{ produto.price }}" /> 
    </div>
    <div class="input-field">
      <label for="quantity" class="label">Quantity</label>
      <input type="text" name="quantity" class="input-text" value="{{ produto.quantity }}" /> 
    </div>
    <div class="input-field">
      <label for="category" class="label">Categories</label>
      <select multiple id="category" name="category[]" class="input-text">
        {% for categoria in categorias %}
          {% for cat in produto.category %}
            <option value="{{ categoria.id }}" {{ (cat == categoria.id) ? 'selected' : ''}}>{{ categoria.name }}</option>
          {% endfor %}  
        {% endfor %}
      </select>
    </div>
    <div class="input-field">
      <label for="description" class="label">Description</label>
      <textarea name="description" class="input-text">{{ produto.description }}</textarea>
    </div>
    <div class="actions-form">
      <a href="/produto" class="action back">Back</a>
      <input class="btn-submit btn-action" type="submit" value="Save Product" />
    </div>
    
  </form>
{% endblock %}
