<!DOCTYPE html>
<html>

<head>
    {% block head %}

    <title>{% block title %}GO{% endblock %}</title>
    <meta charset="utf-8">

    <link rel="stylesheet" type="text/css" media="all" href="/assets/css/style.css" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,800" rel="stylesheet">
    <meta name="viewport" content="width=device-width,minimum-scale=1">
    <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
    <script async src="https://cdn.ampproject.org/v0.js"></script>
    <script async custom-element="amp-fit-text" src="https://cdn.ampproject.org/v0/amp-fit-text-0.1.js"></script>
    <script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>

    {% endblock %}
</head>
    {% block sidebar %}
        {{ include('sidebar.html') }}
    {% endblock %}
<Header>
    {% block header %}
    <div class="go-menu">
        <a on="tap:sidebar.toggle">☰</a>
        <a href="/produto" class="link-logo"><img src="/assets/images/go-logo.png" alt="Welcome" width="69" height="430" /></a>
    </div>
    <div class="right-box">
        <span class="go-title">Administration Panel</span>
    </div>    
    {% endblock %}
</Header>

<body>
    <main class="content">{% block content %}{% endblock %}</main>
    <footer>
        {% block footer %}
        
        {% endblock %}
    </footer>
    {% block modal %}
    {% endblock %}
    {% block bottom %}
    {% endblock %}
</body>

</html>