
<!doctype html>
<html ⚡>

  <!-- Header -->
<amp-sidebar id="sidebar" class="sample-sidebar" layout="nodisplay" side="left">
  <div class="close-menu">
    <a on="tap:sidebar.toggle">
      <img src="/assets/images/bt-close.png" alt="Close Menu" width="24" height="24" />
    </a>
  </div>
  <a href="dashboard.html"><img src="/assets/images/menu-go-jumpers.png" alt="Welcome" width="200" height="43" /></a>
  <div>
    <ul>
      <li><a href="categories.html" class="link-menu">Categorias</a></li>
      <li><a href="products.html" class="link-menu">Produtos</a></li>
    </ul>
  </div>
</amp-sidebar>
<header>
  <div class="go-menu">
    <a on="tap:sidebar.toggle">☰</a>
    <a href="dashboard.html" class="link-logo"><img src="/assets/images/go-logo.png" alt="Welcome" width="69" height="430" /></a>
  </div>
  <div class="right-box">
    <span class="go-title">Administration Panel</span>
  </div>    
</header>  
<!-- Header -->
  <!-- Main Content -->
  <main class="content">
    <div class="header-list-page">
      <h1 class="title">Dashboard</h1>
    </div>
    <div class="infor">
      You have {{ produtos|length }} products added on this store: <a href="produtos" class="btn-action">Add new Product</a>
    </div>
    <ul class="product-list">
      {% for produto in produtos %}
      <li>
        <div class="product-image">
          <img src="https://firebasestorage.googleapis.com/v0/b/desafio-e5a04.appspot.com/o/noimage.png?alt=media&token=ebfb899a-bee2-4eb3-96d5-d42b59735406" 
            layout="responsive" width="164" height="145" alt="no-image" />
        </div>
        <div class="product-info">
          <div class="product-name"><span>{{ produto.name|e   }}</span></div>
          <div class="product-price"><span class="special-price">9 available</span> <span>R${{ produto.price|number_format }}</span></div>
        </div>
      </li>
      {% endfor %}
    </ul>
  </main>
  <!-- Main Content -->

  <!-- Footer -->
<footer>
	
</footer>
 <!-- Footer --></body>
</html>
